<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Slider configuration</h2>

    <section class="example-section">
      <mat-form-field class="example-margin example-width">
        <mat-label>Value</mat-label>
        <input matInput type="number" [formControl]="sliderConfigInput">
      </mat-form-field>
      <mat-form-field class="example-margin example-width">
        <mat-label>Min value</mat-label>
        <input matInput type="number" [formControl]="min">
      </mat-form-field>
      <mat-form-field class="example-margin example-width">
        <mat-label>Max value</mat-label>
        <input matInput type="number" [formControl]="max">
      </mat-form-field>
      <mat-form-field class="example-margin example-width">
        <mat-label>Step size</mat-label>
        <input matInput type="number" [formControl]="step">
      </mat-form-field>
    </section>

    <section class="example-section">
      <mat-checkbox [formControl]="showTicks">Show ticks</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox [formControl]="thumbLabel">Show thumb label</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox [formControl]="disabled">Disabled</mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>

<mat-card class="example-result-card">
  <mat-card-content>
    <h2>Sampling Rate</h2>

    <div class="example-label-container">
      <label id="example-name-label" class="example-name-label">Value</label>
      <label class="example-value-label">{{slider.value}}</label>
    </div>
    <mat-slider
        class="example-margin"
        [disabled]="disabled.value"
        [max]="max.value"
        [min]="min.value"
        [step]="step.value"
        [discrete]="thumbLabel.value"
        [showTickMarks]="showTicks.value">
      <input matSliderThumb [formControl]="sliderControl" #slider>
    </mat-slider>
  </mat-card-content>
</mat-card>
<mat-card class="example-result-card">
  <mat-card-content *ngIf="sliderValues$ | async as sliderValues">{{sliderValues}}</mat-card-content>
</mat-card>
<mat-card class="example-result-card">
  <mat-card-content *ngIf="randomValues$ | async as randomValues">{{randomValues}}</mat-card-content>
</mat-card>


<!-- Copyright 2024 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->